<a href="https://colab.research.google.com/github/Sniperpilot16/DSPS_MRichardson/blob/master/DSPS_HW4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
import numpy as np
import pylab as pl
%pylab inline

import astropy

Populating the interactive namespace from numpy and matplotlib

F = (GMm)/(r^2)

ma = (GMm)/(r^2)

m(v^2/r) = (GMm)/(r^2)

v^2/r = (GM)/(r^2)

v^2 = (GM)/(r)

In [0]:
m31 = pd.read_csv("https://raw.githubusercontent.com/fedhere/DSPS/master/HW4/m31.csv", skiprows=1)

In [0]:
mw = pd.read_csv("https://raw.githubusercontent.com/fedhere/DSPS/master/HW4/mw.csv")

In [21]:
m31.head()

   #R(kpc  V(km/s)  St.dev.  St.error
0   0.100  183.939    0.000     0.000
1   0.120  190.710   10.265    12.191
2   0.144  204.141   22.634    21.808
3   0.173  207.601    4.573     4.200
4   0.207  210.188    3.943     3.258

In [0]:
m31.columns=['r', 'v', 'dv', 'err']

In [23]:
m31.describe(include = 'all')

                 r           v          dv        err
count    55.000000   55.000000   55.000000  55.000000
mean    205.853182  226.079255   55.034818  16.165855
std     415.523904   42.799892   49.254792  14.876951
min       0.100000  121.974000    0.000000   0.000000
25%       1.177000  208.894500   11.945500   3.224000
50%      13.737000  229.124000   30.697000  12.065000
75%     161.675000  244.102500   99.980000  23.641000
max    1887.071000  414.942000  147.835000  54.110000

In [24]:
m31.head()

       r        v      dv     err
0  0.100  183.939   0.000   0.000
1  0.120  190.710  10.265  12.191
2  0.144  204.141  22.634  21.808
3  0.173  207.601   4.573   4.200
4  0.207  210.188   3.943   3.258

In [0]:
apparentSizeM31 = 3.167 * 1
distanceM31 = (778) # +/- 33
distanceM31Uncertainty = 33

In [26]:
from astropy import units as u
m31angS = apparentSizeM31 * u.degree
print("Angular Size of the visible component of Andromeda: {:.2f}".format(m31angS.to(u.rad)  ))

Angular Size of the visible component of Andromeda: 0.06 rad

In [27]:
from astropy import units as u
m31visComp = distanceM31 * u.kiloparsec
print("Size of the visible component of Andromeda: {:.2f}".format(m31visComp.to(u.kiloparsec)  ))

Size of the visible component of Andromeda: 778.00 kpc

In [28]:
m31PhysicalSize = m31angS * m31visComp
print("Physical size of the Andromeda Galaxy: {:.2f}".format(m31PhysicalSize))

Physical size of the Andromeda Galaxy: 2463.93 deg kpc

find the first measurement in your data table that includes all the luminous mass

In [29]:
def getradii(gal, gsize, n):
  lst = []
  x = n * gsize
  for idx in range(list[gal]):
    if gal[idx] < x:
      lst = gal[idx]
    else:
      lst = []
  return lst

#need to make m31 a list of the first column of numbers (r)
gal = m31
gsize = 778.00
n = 1

print(getradii(gal, gsize, n))

TypeError: ignored